In [1]:
l = [1, 2, 3, 4, 5, 6, 7]

In [4]:
for i in l:
    print(i)

1
2
3
4
5
6
7

In [7]:
for i in l:
    print('Num x 1: ->', i)
    print('Num x 2: ->', i * 2)
    print('Num x 3: ->', i * 3)

Num x 1: -> 1
Num x 2: -> 2
Num x 3: -> 3
Num x 1: -> 2
Num x 2: -> 4
Num x 3: -> 6
Num x 1: -> 3
Num x 2: -> 6
Num x 3: -> 9
Num x 1: -> 4
Num x 2: -> 8
Num x 3: -> 12
Num x 1: -> 5
Num x 2: -> 10
Num x 3: -> 15
Num x 1: -> 6
Num x 2: -> 12
Num x 3: -> 18
Num x 1: -> 7
Num x 2: -> 14
Num x 3: -> 21

In [8]:
for i in l:
    if i % 2 == 0:
        print(i,'é par')
    else:
        print(i,'é ímpar')

1 é ímpar
2 é par
3 é ímpar
4 é par
5 é ímpar
6 é par
7 é ímpar

In [9]:
soma = 0
for i in l:
    soma += i
print(soma)

28

In [10]:
string = 'Eu amo programação!'

for char in string:
    print(char)

E
u

a
m
o

p
r
o
g
r
a
m
a
ç
ã
o
!

In [12]:
tup = (1, 2, 3, 4, 5)
for t in tup:
    print(t)

1
2
3
4
5

In [13]:
l = [(1,2), (2,3), (3,4)]

In [14]:
type(l[0])

tuple

In [15]:
(t1, t2) = l[0]

In [17]:
for (t1, t2) in l:
    print(t1, t2)

2
6
12

In [18]:
for (t1, t2) in l:
    print(t1 + t2)

3
5
7

In [19]:
for (t1, t2) in l:
    print(t1, t2)

1 2
2 3
3 4

In [20]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [25]:
for item in d:
    print(item)

k1
k2
k3

In [27]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [29]:
for (key, valor) in d.items():
    print(key,'->', valor)

k1 -> 1
k2 -> 2
k3 -> 3